streamlit
langchain
langchain-core
langchain-community
langchain-google-genai
chromadb==0.4.24
pysqlite3-binary
pypdf
sentence-transformers
torchvision
langchain-text-splitters
langchain_huggingface
rank_bm25
numpy<2.0.0
